{
  "code_file": "tmp/x.wasm",
  "function": "teamKillDifferenceFromRimble",
  "input": {
    "date": "{{ .YOUR_RIMBLE_MATCH_DATE }}",
    "match_id": "{{ .YOUR_RIMBLE_MATCH_ID }}"
  },
  "secret": {
    "api_key": "{{ .YOUR_RIMBLE_API_KEY }}"
  }
}
