{
    "code_file": "./tmp/x.wasm",
    "function": "iteration",
    "input": {
        "coin_id": "polygon-pos-bridged-weth-polygon-pos",
        "num_samples": 3,
        "eAttest": VAR_EATTEST,
        VAR_TATTEST
        "whitelist": [
            { "platform": "plain", "code": "plain" }
        ]
    },
    "secret": {
      "api_key": "CoinGecko API key"
    }
}
