{
    "code_file": "./tmp/x.wasm",
    "function": "twap",
    "input": {
        "eAttest": PREV_ENCLAVE_ATTESTATION,
        "tAttest": PREV_TRANSITIVE_ATTESTATION,
        "whitelist": [
            { "platform": "plain", "code": "plain" }
        ]
    }
}
