# iterate project ignores
time_weighted_average_price/attest_fn_call/bky-as
time_weighted_average_price/attest_fn_call/tmp

# on-chain project ignores
# node/ts files
time_weighted_average_price/on-chain/node_modules
time_weighted_average_price/on-chain/.env

# Hardhat files
time_weighted_average_price/on-chain/cache
time_weighted_average_price/on-chain/artifacts

# TypeChain files
time_weighted_average_price/on-chain/typechain
time_weighted_average_price/on-chain/typechain-types

# solidity-coverage files
time_weighted_average_price/on-chain/coverage
time_weighted_average_price/on-chain/coverage.json

# Hardhat Ignition default folder for deployments against a local node
time_weighted_average_price/on-chain/ignition/deployments/chain-31337
