[
    {
        "code_file": "./tmp/x.wasm",
        "function": "myTestFunc",
        "input": {
            "eAttest": VAR_EATTEST,
            VAR_TATTEST
            "whitelist": [
                { "platform": "plain", "code": "plain" }
            ]
        },
        "secret": {
            "api_key": "CG-NqKT8uUEv9tfwG62w9EUqF7j"
        }

    }
]
