[
    {
        "code_file": "./tmp/x.wasm",
        "function": "twap",
        "input": {
            "eAttest": VAR_EATTEST,
            VAR_TATTEST
            "whitelist": [
                { "platform": "plain", "code": "plain" }
            ]
        }
    }
]
